{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}

{% block dinamico %}
{% if ciudades|length > 0 %}
<div class="card">
  <div class="card-header">
    <a href="{{ url_for('ciudad.agregar_ciudad') }}" class="btn btn-primary">Agregar ciudad</a>
  </div>
  <div class="card-body">
    <table class="table" id="tbl">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for ciudad in ciudades %}
            <tr>
              <th scope="row">{{ ciudad['id'] }}</th>
              <td>{{ ciudad['descripcion']}}</td>
              <td>
                <a name="btn_editar" data-id="{{ ciudad['id'] }}" class="btn btn-primary">Editar</a>
                <a name="btn_eliminar" data-id="{{ ciudad['id'] }}" class="btn btn-warning">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
		{{ pintar_alerta(messages) }}
      </div>
    </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        No hay elementos para mostrar
      </div>
    {% endif %}

{% endblock %}

{% block mi_javascript %}
<script>
  $(function(){
    $('#tbl').DataTable();
    $('a[name=btn_editar]').on('click', function(e) {
		e.preventDefault();
		const id = $(this).data("id");
		if(confirm("¿Desea editar este item?")) {
			location.href = `/referencial/ciudad/editar-ciudad/${id}`;
		}
    });
	$('a[name=btn_eliminar]').on('click', function(e) {
		e.preventDefault();
		const id = $(this).data("id");
		if(confirm("¿Desea eliminar este item?")) {
			location.href = `/referencial/ciudad/delete-ciudad/${id}`;
		}
    });
  });
</script>
{% endblock %}