{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}

{% block titulo_pagina %}Registrar solicitud de compras{% endblock %}

{% block dinamico %}

<div class="card">
    <div class="card-header">Registrar solicitud de compras</div>

    <!-- card main -->
    <div class="card-body">

        <!-- nro., fecha ,estado solicitud -->
        <div class="row g-3">
            <div class="col col-md-3">
                <label for="txtruc">Nro. Solicitud</label>
            </div>
            <div class="col col-md-1">
                <label for="inputPassword2">Estado solicitud</label>
            </div>
            <div class="col col-md-3">
              <select class="form-control" name="selestado">
                <option value="" selected>...</option>
                {% if estados|length > 0 %}
                  {% for estado in estados %}
                      <option value="{{ estado['id'] }}">{{ estado['descripcion'] }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col col-md-1">
                <label for="txtfechasolicitud" class="visually-hidden">Fecha solicitud</label>
            </div>
            <div class="col col-md-3">
              <input type="date" class="form-control" id="txtfechasolicitud" value="" autocomplete="off" required="">
            </div>
        </div>
        <!--  -->

        <!-- Datos del Solicitante -->
        <div class="row mt-4">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-header">Datos del Solicitante</div>
                    <div class="card-body">

                        <!-- cod. funcionario, cedula, cargo -->
                        <div class="row g-3 align-items-center">
                            <div class="col"></div>
                            <div class="col col-md-6 mb-4">
                              <select class="form-control" name="selfuncionario">
                                <option value="" selected>Buscar funcionario</option>
                                {% if lista_funcionarios|length > 0 %}
                                  {% for item in lista_funcionarios %}
                                      <option value="{{ item['id'] }}">{{ item['ci'] }} - {{ item['nombres'] }} {{ item['apellidos'] }}</option>
                                  {% endfor %}
                                {% endif %}
                              </select>
                            </div>
                            <div class="col"></div>
                        </div>
                        <!--  -->

                        <!-- nombres, apellidos, departamento -->
                        <div class="row g-3">
                            <div class="col col-md-12">
                              <table class="table table-striped table-hover" id="tblfuncionario">
                                  <tr>
                                    <th scope="row" class="table-dark text-center">Cedula</th>
                                    <th scope="row" class="text-center" colspan="2" id="tdcedula"></th>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark text-center">Nombres y Apellidos</th>
                                    <td colspan="2" class="text-center" id="tdnombres"></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark text-center">Cargo</th>
                                    <td colspan="2" class="text-center" id="tdcargo"></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="table-dark text-center">Departamento</th>
                                    <td colspan="2" class="text-center" id="tddepartamento"></td>
                                  </tr>
                              </table>
                            </div>
                        </div>
                        <!--  -->

                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- Solicitud - info y buscar insumos -->
        <div class="row mt-4">
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">Solicitud - info</div>
                    <div class="card-body">

                        <!-- prioridad y fecha de entrega -->
                        <div class="row g-3">
                            <div class="col col-md-2">
                                <label for="txtruc" class="visually-hidden">Prioridad</label>
                            </div>
                            <div class="col col-md-4">
                              <input type="text" class="form-control" id="txtruc" value="" required="">
                            </div>
                            <div class="col col-md-3">
                                <label for="inputPassword2" class="visually-hidden">Fecha de entrega</label>
                            </div>
                            <div class="col col-md-3">
                              <input type="text" class="form-control" id="txtid" value="" autocomplete="off" required="">
                            </div>
                        </div>
                        <!--  -->

                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- Información insumos -->
        <div class="row mt-4">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row g-3">
                            <h5>Información insumos</h5>
                            <div class="col col-md-offset-5"></div>
                            <div class="col col-md-1">
                                <label for="txtruc" class="visually-hidden">Agregar</label>
                            </div>
                            <div class="col col-md-4">
                              <input type="text" class="form-control" id="txtruc" value="" required="">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

    </div>
    <!--  -->

    <div class="card-footer">
        <button type="button" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-info">Salir</button>
    </div>
</div>

{{ pintar_alerta(messages) }}
{% endblock %}

{% block mi_javascript %}
<script>
  const extra_settings_select2 = {
    placeholder: "Buscar funcionario",
    theme: 'bootstrap-5'
  }
  $(function(){
    $('select[name="selestado"], select[name="selfuncionario"]').select2(extra_settings_select2);
    $('select[name="selfuncionario"]').on('change', function(){
      if(!$(this).val()) {
        $('#tblfuncionario').find('td').text('');
        return;
      }
      fetch(`/gestionar-compras/registrar-solicitud-compras/v1/get-funcionario-by-id/${$(this).val()}`)
        .then(resp => resp.json())
        .then(funcionario => {
          $('#tdcedula').text(funcionario.ci);
          $('#tdnombres').text(`${funcionario.nombres} ${funcionario.apellidos}`);
          $('#tdcargo').text(funcionario.cargo);
          $('#tddepartamento').text(funcionario.departamento);
        })
        .catch(err => console.error(err));

    });
  });
</script>
{% endblock %}