{% extends "base.html" %}
{% from 'macros.html' import pintar_alerta %}

{% block titulo_pagina %}Proveedores{% endblock %}

{% block dinamico %}
<form action="{{ url_for('proveedormod.save_proveedor') }}" method="post" id="frm">
  <div class="card">
    <div class="card-header">Proveedores</div>
    <div class="card-body">
        <!-- RUC y Identificador del RUC -->
        <div class="row g-3">
            <div class="col col-md-1">
                <label for="txtruc" class="visually-hidden">RUC</label>
            </div>
            <div class="col col-md-3">
              <input type="text" class="form-control" name="txtruc" id="txtruc" required>
            </div>
            <div class="col col-md-1">
                <label for="inputPassword2" class="visually-hidden">Identificador del RUC</label>
            </div>
            <div class="col col-md-1">
              <input type="text" class="form-control" name="txtid" id="txtid" autocomplete="off" required>
            </div>
        </div>
        <!--  -->
        <!-- razon social y direccion -->
        <div class="row g-3 pt-4">
           <div class="col col-md-1">
               <label for="txtruc" class="visually-hidden">Nombre o Razón Social</label>
           </div>
           <div class="col col-md-3">
             <input type="text" class="form-control" name="txtrazon" id="txtrazon">
           </div>
           <div class="col col-md-1">
               <label for="inputPassword2" class="visually-hidden">Dirección</label>
           </div>
           <div class="col col-md-4">
             <input type="text" class="form-control" name="txtdirección" id="txtdirección" autocomplete="off" required>
           </div>
        </div>
        <!--  -->
        <!-- Apellido y Email -->
        <div class="row g-3 pt-4">
            <div class="col col-md-1">
                <label for="txtapellido" class="visually-hidden">Apellido</label>
            </div>
            <div class="col col-md-3">
              <input type="text" class="form-control" name="txtapellido" id="txtapellido" autocomplete="off" required>
            </div>
            <div class="col col-md-1">
                <label for="txtemail" class="visually-hidden">Email</label>
            </div>
            <div class="col col-md-3">
              <input type="text" class="form-control" name="txtemail" id="txtemail" autocomplete="off" required>
            </div>
         </div>
         <!--  -->
         <!-- telefono -->
        <div class="row g-3 pt-4">
            <div class="col col-md-1">
                <label for="txttelefono" class="visually-hidden">Teléfono</label>
            </div>
            <div class="col col-md-3">
              <input type="text" class="form-control" name="txttelefono" id="txttelefono" autocomplete="off" required>
            </div>
        </div>
        <!--  -->
        <!-- pais y su combo -->
        <div class="row g-3 pt-4">
            <div class="col col-md-1">
                <label for="txtidpais" class="visually-hidden">País</label>
            </div>
            <div class="col col-md-3">
              <select class="form-control" name="selpais">
                <option value="" selected>...</option>
                {% if lista_paises|length > 0 %}
                  {% for pais in lista_paises %}
                    <option value="{{ pais['id'] }}">{{ pais['descripcion'] }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
        </div>
        <!--  -->
        <!-- ciudad y su combo -->
        <div class="row g-3 pt-4">
            <div class="col col-md-1">
                <label for="txtidciudad" class="visually-hidden">Ciudad</label>
            </div>
            <div class="col col-md-3">              
              <select class="form-control" name="selciudad"></select>
            </div>
        </div>
        <!--  -->
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" id="btnguardar">Guardar</button>
      <button type="button" class="btn btn-info" id="btnlimpiar">Limpiar formulario</button>
    </div>
  </div>
</form>

{{ pintar_alerta(messages) }}
{% endblock %}

{% block mi_javascript %}
<script>
  const getCiudadesByPaisUrl = (id) => `/referencial/ciudad/get-ciudad-by-idpais/${id}`;
  
  const addEvents = () => {
    $('select[name="selpais"], select[name="selciudad"]').select2({
      placeholder: "...",
      theme: 'bootstrap-5'
    });
    $('select[name="selpais"').on('change', function(e) {
      const idpais = $(this).val();
      if(idpais) {
        $('select[name="selciudad"]').empty();
        $('select[name="selciudad"]').select2({
          placeholder: "...",
          theme: 'bootstrap-5',
          ajax: {
            url: getCiudadesByPaisUrl(idpais),
            dataType: 'json'
          }
        });
      }
    });
    $('#frm').on('submit', function(e){
      if(!validarFormulario()) {
        e.preventDefault();
      }
    });
  }
  
  const validarFormulario = () => {
    const ruc = $('#txtruc').val();
    const identificador_ruc = $('#txtid').val();
    const razon = $('#txtrazon').val();
    const dirección = $('#txtdirección').val();
    const apellido = $('#txtapellido').val();
    const email = $('#txtemail').val();
    const telefono = $('#txttelefono').val();
    const idpais = $('select[name=selpais]').val();
    const idciudad = $('select[name=selciudad]').val();

    let arrayMensajes = [];
    if(!ruc) {
      arrayMensajes.push("El ruc no debe estar vacio");
    }
    if(!identificador_ruc) {
      arrayMensajes.push("El identificador_ruc no debe estar vacio");
    }
    if(!razon) {
      arrayMensajes.push("El razon no debe estar vacio");
    }
    if(!dirección) {
      arrayMensajes.push("El dirección no debe estar vacio");
    }
    if(!apellido) {
      arrayMensajes.push("El apellido no debe estar vacio");
    }
    if(!email) {
      arrayMensajes.push("El email no debe estar vacio");
    }
    if(!telefono) {
      arrayMensajes.push("El telefono no debe estar vacio");
    }
    if(!idpais) {
      arrayMensajes.push("El pais no debe estar vacio");
    }
    if(!idciudad) {
      arrayMensajes.push("La ciudad no debe estar vacio");
    }

    if(arrayMensajes.length > 0) {
      alert(arrayMensajes.join());
      return false;
    }
    return true;

  }

  //main function
  $(function(){
    addEvents();
  });
</script>
{% endblock %}